@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Bangers");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin");
body {
  margin: 0;
  padding: 0;
  background-color: #161616 !important;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif; }

#menuToggle {
  display: block;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  right: 20px; }

.menu_right {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: -10px;
  -webkit-user-select: none;
  user-select: none;
  right: 20px;
  display: flex;
  align-items: flex-end; }

.plane {
  display: flex;
  margin-bottom: 20px; }
  .plane embed {
    width: 40px;
    pointer-events: none;
    cursor: pointer; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffcd00;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px); }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -200px;
  padding: 50px 50px 0 50px;
  padding-top: 125px;
  background: #000000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  border: 2px #ffcd00 solid;
  border-bottom: none; }
  #menu a {
    color: snow;
    font-family: "Fjalla One", sans-serif; }
  #menu a:hover {
    color: #ffcd00; }
  #menu embed {
    width: 40px; }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

#menuToggle input:checked ~ ul {
  transform: none; }

#menu_left {
  position: fixed;
  width: 70px;
  height: 100vh;
  background: #000000;
  padding-top: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #menu_left a {
    color: snow; }
  #menu_left a:hover {
    text-decoration: none; }
  #menu_left embed {
    width: 30px; }
  #menu_left ul {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #menu_left ul li {
      padding: 15px 0;
      font-family: "Bangers", cursive;
      font-size: 24px; }
  #menu_left .bottomline {
    width: 3px;
    height: 60px;
    background: #ffcd00;
    margin: 0 auto; }
  #menu_left .logo_bee embed {
    pointer-events: none;
    cursor: pointer; }

.block_information {
  background: #161616;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .block_information .row {
    margin: 0; }
  .block_information .icon_block_information {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .block_information .icon_block_information svg {
      width: 52px;
      float: left;
      margin-right: 15px; }
    .block_information .icon_block_information p {
      font-size: 47px;
      margin: 0;
      color: snow;
      font-family: "Fjalla One", sans-serif; }
    .block_information .icon_block_information h3 {
      font-family: "Fjalla One", sans-serif;
      color: snow;
      font-size: 22px; }
  .block_information .second_icon_block_information svg {
    width: 49px; }
  .block_information .first_row, .block_information .second_row {
    display: flex;
    justify-content: space-around; }
  .block_information .first_row {
    margin-bottom: 60px;
    margin-left: 45px; }
  .block_information .second_row {
    margin-left: 20px; }
  .block_information .third_icon_block_information svg {
    width: 57px;
    margin-top: -10px; }
  .block_information .svg_text {
    display: flex;
    flex-direction: row;
    align-items: center; }

#icons_block {
  background: #161616;
  background-size: cover;
  overflow-y: hidden;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 700px; }
  #icons_block .all_rows {
    margin: 0 auto;
    width: 80%;
    height: 600px; }
  #icons_block .container {
    padding: 0 47px 0 53px;
    display: flex;
    align-items: center; }
  #icons_block .row {
    position: relative;
    margin-bottom: 10px; }
    #icons_block .row:nth-child(2) {
      bottom: 100px; }
    #icons_block .row:nth-child(3) {
      bottom: 200px; }
    #icons_block .row:last-child {
      bottom: 300px; }
    #icons_block .row embed {
      transition: 0.3s;
      margin-bottom: 20px; }
    #icons_block .row embed:hover {
      transform: scale(1.3); }

.photo_team {
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(#0f0f0f, #161616 50%, #0f0f0f 80%);
  z-index: 1; }
  .photo_team embed {
    width: 100%;
    z-index: 0;
    margin-bottom: -6px; }
  .photo_team h2 {
    font-family: "Fjalla One", sans-serif;
    color: snow;
    margin-top: -75px;
    margin-left: 33px; }
  .photo_team h4 {
    font-family: "Fjalla One", sans-serif;
    color: yellow;
    margin-left: 33px; }

.section_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

.line-menu {
  border-radius: 5px;
  width: 30px;
  height: 4px;
  background-color: #fbc800;
  margin: 3px 0; }

.menu {
  display: grid;
  justify-content: flex-end;
  text-align: end;
  margin-top: 20px;
  margin-right: 35px; }

.top-text-style {
  font-size: 63px;
  color: white;
  font-family: "Bangers", cursive;
  margin-top: 175px; }

.top-girl-photo img {
  width: 390px; }

.top-girl-photo {
  margin-top: 150px;
  text-align: center; }

.top-button {
  background-color: #fbc800;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer; }

.button1 {
  background-color: #161616;
  color: white;
  border: 5px solid #fbc800;
  font-family: "Libre Franklin", sans-serif;
  font-style: italic;
  font-weight: bolder;
  margin-top: 150px;
  border-radius: 10px; }

.button1:hover {
  background-color: #fbc800;
  color: #161616; }

.top-text-style p {
  margin-bottom: 0;
  margin-top: -10px; }

.blocks-about {
  background-color: #111111;
  width: 400px;
  height: 400px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer; }

.blocks-about:hover {
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  box-shadow: 0 0 111px rgba(255, 250, 250, 0.3); }

.block-in-center {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.about-photo-in-block {
  width: 200px;
  height: 200px;
  opacity: 1;
  margin-top: 50px;
  display: grid;
  justify-items: center; }
  .about-photo-in-block embed {
    pointer-events: none; }

.text-style-in-about-block {
  font-size: 37px;
  font-family: "Fjalla One", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.width100 {
  width: 100%; }

.feedback-top-text-style {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  color: white;
  margin-bottom: 3px;
  margin-top: 25px; }

.feedback-underline-text-3 {
  width: 220px;
  height: 4px;
  background-color: #2149f4;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: 0.1s;
  transition: 0.1s; }

.feedback-underline-text-3:hover {
  box-shadow: 0 0 25px #ffd000; }

.feedback-underline-text-1 {
  width: 220px;
  height: 4px;
  background-color: #2149f4;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: 0.1s;
  transition: 0.1s; }

.feedback-underline-text-1:hover {
  box-shadow: 0 0 25px rgba(0, 0, 255, 0.9); }

.col-xs-4 embed {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.col-xs-4 embed:hover {
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.feedback-bottom-text-style {
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  color: white; }

.feedback-bottom-text-style2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  color: white; }

.feedback-underline-text-2 {
  width: 220px;
  height: 4px;
  background-color: #2149f4;
  border-radius: 10px;
  margin-bottom: 30px; }

.feedback-underline-text-1 {
  width: 115px;
  height: 4px;
  background-color: #2149f4;
  border-radius: 10px;
  margin-bottom: 30px; }

.feedback-underline-text-2:hover {
  -webkit-transition: 0.1s;
  box-shadow: 0 0 25px rgba(0, 0, 255, 0.9); }

.centom {
  display: flex;
  text-align: center;
  justify-content: center; }

.marg25 {
  margin-right: 25px;
  margin-left: 25px; }

.feedback-top-text-style-2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  color: white;
  margin-bottom: 3px;
  margin-top: 50px; }

.grid {
  display: grid;
  justify-items: center; }

.teacher-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px; }

.teacher-block img {
  width: 700px; }

.teacher-bottom-block {
  background-color: white;
  width: 620px;
  height: 330px;
  border-radius: 35px;
  margin-top: -150px;
  padding: 10px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: flex-end; }

.cir {
  height: 90px;
  width: 90px;
  background-color: #ffd000;
  border-radius: 50%;
  margin-top: -55px;
  box-shadow: 0px 0px 50px 0px #ffd000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s; }

.hobby-teaching-text-style {
  font-family: "Fjalla One", sans-serif;
  font-size: 39px;
  color: #161616;
  margin-top: 35px; }

.hobby-teaching-bottom-text-style {
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
  color: #161616;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center; }

.activity-traveling-text-style {
  font-family: "Fjalla One", sans-serif;
  font-size: 38px;
  color: #161616;
  margin-top: 35px; }

.mouse-svg {
  display: grid;
  justify-content: center;
  margin-top: 15px; }

.feedback-sec {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#hobby_activity {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 700px; }

.cir:hover {
  transform: scale(1.1);
  -webkit-transition: 0.3s; }

div.ex3 {
  height: 135px;
  overflow: auto;
  display: flex;
  justify-content: center; }

a.svg {
  position: relative;
  display: inline-block; }

.cir embed {
  pointer-events: none; }

.photo-map {
  margin-top: -15px; }

.photo-map img {
  margin-left: -255px;
  margin-top: -300px;
  transition: 0.3s; }

.photo-map img:hover {
  transform: scale(1.5);
  -webkit-transition: 0.3; }

.portfolio-web {
  -webkit-transition: 0.3s; }

.portfolio-top-text {
  font-size: 30px;
  font-family: "Fjalla One", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  margin-top: 40px; }

.portfolio-top-text:hover {
  background-size: 100% 100%;
  background-position: 0 -0.1em;
  color: #161616; }

.portfolio-web {
  display: flex;
  justify-content: center;
  align-items: center; }

.portfolio-web img {
  width: 700px;
  border-radius: 20px;
  margin-top: 20px; }

.portfolio-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }

.portfolio-section a:hover {
  text-decoration: none; }

.inline {
  display: flex;
  align-items: center;
  justify-content: center; }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: white;
  margin-top: 30px; }

.portfolio-bottom-text {
  font-size: 18px;
  font-family: "Libre Franklin", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s; }

.portfolio-bottom-text:hover {
  background-size: 100% 100%;
  background-position: 0 -0.1em;
  color: #161616;
  font-weight: bolder; }

.portfolio-sl-text {
  font-size: 18px;
  font-family: "Libre Franklin", sans-serif;
  color: #ffcd00;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  margin-top: 40px; }

.carousel-indicators {
  bottom: -50px; }
  .carousel-indicators li {
    background: snow; }
  .carousel-indicators .active {
    background: #ffd000;
    border-color: #ffd000; }

.carousel-inner {
  z-index: 0; }

.yellow_circle {
  background: #ffd000;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: -350px; }
  .yellow_circle a {
    font-size: 25px; }

.left_circle {
  margin-right: 650px; }

.glyphicon {
  margin-top: 0;
  font-size: 27px;
  top: 3px;
  transition: 0.3s; }

.glyphicon:hover {
  transform: scale(1.1); }

.button_portfolio {
  height: 45px;
  font-size: 18px;
  border-radius: 50px;
  border: none;
  color: black;
  font-weight: bold;
  transition: 0.5s;
  margin: 50px 0 0 40px; }

.button_right_portfolio {
  width: 185px;
  background: #ffd000; }

.button_right_portfolio:hover {
  background: snow; }

.button_left_portfolio {
  width: 145px;
  background: snow; }

.button_left_portfolio:hover {
  background: #ffcd00; }

#section_vidhuku .row {
  display: flex;
  justify-content: center; }

@media (min-width: 768px) and (max-width: 1023px) {
  .section_banner {
    text-align: center; }
    .section_banner .top-text-style {
      margin-top: 100px; }
    .section_banner .button1 {
      margin-top: 50px; }
    .section_banner .top-girl-photo {
      margin-top: 30px; }

  .block_information .icon_block_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .block_information .icon_block_information svg {
      height: 60px;
      margin-bottom: 10px; }
    .block_information .icon_block_information h3 {
      margin-top: 5px; }
    .block_information .icon_block_information .second_row .icon_block_information {
      margin-left: 20px; }

  #icons_block .row embed {
    width: 165px;
    margin-bottom: 50px; }

  #icons_block .row embed:hover {
    transform: scale(1.1); }

  .blocks-about {
    margin-bottom: 50px; }

  #icons_block.row {
    overflow: auto;
    bottom: 0 !important;
    text-align: center; }
    #icons_block.row embed {
      margin-bottom: 0; }

  ._team {
    padding: 75px 15px 0 55px; }

  .feedback-sec .row {
    display: flex;
    justify-content: center; }

  .photo-map img {
    display: none; }

  .button_portfolio {
    font-size: 16px; } }
@media (min-width: 769px) and (max-width: 1023px) {
  .block_information .second_row {
    margin-left: 50px; } }
@media (min-width: 768px) and (max-width: 981px) {
  .icons_block_tab embed {
    margin-top: -105px; }

  #icons_block .row embed {
    margin-bottom: 115px; }

  .hobby-teaching-text-style, .activity-traveling-text-style {
    margin-left: 35px; } }
@media (min-width: 769px) and (max-width: 992px) {
  .centom {
    padding-left: 70px !important; }

  .photo_team h2 {
    font-size: 21px; }

  .photo_team .image-team embed {
    margin-bottom: -16px; }

  #icons_block .container {
    padding: 0 180px 0 170px; }

  .feedback-underline-text-2 {
    width: 205px; }

  .marg25 {
    margin-left: 20px; }

  .teacher-block img {
    width: 620px; }

  .teacher-bottom-block {
    width: 600px; }

  .grid_second .feedback-top-text-style-2 {
    margin-top: 41px; }

  .image-team {
    text-align: center; }

  .photo_team h2, h4 {
    margin-left: 45px !important; }

  .portfolio-web img {
    width: 550px; }

  .left_circle {
    margin-right: 500px; } }
@media (min-width: 1023px) and (max-width: 1113px) {
  .block_information .top-butto {
    width: 50px !important; }

  .block_information .icon_block_information p {
    font-size: 30px;
    padding-top: 10px; }

  .photo_team {
    padding: 75px 15px 0 55px; }

  .photo-map {
    display: none; }

  .block_information .third_icon_block_information svg {
    margin-top: -5px;
    width: 48px; }

  .button_portfolio {
    font-size: 16px; }

  .plane {
    margin-bottom: 50px; }

  #section_vidhuku .empty_div {
    display: none; }

  .centom {
    margin-left: 20px; }

  .feedback-top-text-style {
    font-size: 28px; } }
@media only screen and (max-width: 600px) {
  .icons_second_row {
    margin-top: 15px;
    position: relative; }

  .icons_block_tab {
    margin-top: -50px; }

  .act-cent {
    display: flex;
    justify-content: center; }

  .centom .grid {
    padding-right: 0;
    padding-left: 20px; }

  .cent {
    flex-direction: column; }

  .teacher-block img {
    width: 380px; }

  .teacher-bottom-block {
    width: 350px;
    height: 280px; }

  .cir {
    margin-top: -104px;
    margin-left: 235px; }

  .activity-traveling-text-style, .hobby-teaching-text-style {
    text-align: center; }

  .empty_div {
    display: none; }

  .block_information {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .block_information .icon_block_information {
      margin-bottom: 15px;
      display: flex;
      align-items: baseline; }
    .block_information .first_row, .block_information .second_row {
      margin-bottom: 0;
      float: left;
      display: flex;
      flex-direction: column; }

  #section_vidhuku .row {
    display: block; } }
@media (max-width: 450px) {
  .button1 {
    margin-top: 50px !important; }

  #icons_block {
    padding: 50px 19px 10px 32px; }
    #icons_block .container {
      padding: 0;
      margin: 0; }
    #icons_block embed {
      width: 134px; }

  .photo_team h2 {
    margin-top: -5px;
    font-size: 13px; }

  .photo_team h4 {
    font-size: 9px; }

  .section_banner {
    text-align: center; }
    .section_banner .container {
      padding-left: 50px; }

  .act-cent {
    display: flex;
    justify-content: center; }

  .teacher-block img {
    width: 270px; }

  .blocks-about {
    width: 230px; }

  .centom .grid {
    padding-right: 10px;
    padding-left: 10px; }

  .feedback-underline-text-2 {
    width: 317px !important; }

  #section_vidhuku {
    height: 950px; }

  .feedback-underline-text-3 {
    width: 180px !important; }

  .block_information {
    margin-left: 35px; }
    .block_information .first_row, .block_information .second_row {
      margin-left: 0; }
    .block_information .second_row {
      margin-top: -10px; }
    .block_information .icon_block_information p {
      font-size: 30px; }
    .block_information .icon_block_information svg {
      width: 40px; }
    .block_information .second_icon_block_information svg {
      width: 37px; }
    .block_information .third_icon_block_information svg {
      width: 38px;
      margin-top: -5px; }
    .block_information .icon_block_information h3 {
      font-size: 14px; }

  .blocks-about:hover {
    transform: none; }

  .teacher-bottom-block {
    width: 270px;
    height: 235px; }

  .teacher-block {
    margin-left: 30px; }

  .cir {
    width: 50px !important;
    height: 50px !important; }
    .cir embed {
      width: 25px !important; }

  .portfolio-section {
    padding-left: 35px; }

  .portfolio-web img {
    width: 290px; }

  .left_circle {
    margin-right: 235px; }

  .yellow_circle {
    width: 40px;
    height: 40px;
    margin-top: -150px; }

  .button_right_portfolio {
    width: 150px; }

  .button_portfolio {
    font-size: 12px;
    margin: 50px 0 0 5px; }

  .teacher-bottom-block .container {
    width: 255px; }
    .teacher-bottom-block .container .cir {
      margin-left: 165px; } }
@media (max-width: 320px) {
  #icons_block embed {
    width: 105px; }
    #icons_block embed .row {
      margin-bottom: 0; }

  .top-text-style {
    font-size: 36px !important; }

  .icons_block_tab {
    padding-right: 0 !important;
    margin-top: -30px; }

  .icons_second_row {
    margin-top: 15px;
    padding-left: 0 !important;
    position: relative; }

  .teacher-block img {
    width: 210px; }

  #section_vidhuku {
    height: 950px; }

  .feedback-underline-text-3 {
    width: 130px !important; }

  .feedback-underline-text-2 {
    width: 260px !important; }

  .photo_team h2 {
    margin-left: 0; }

  .teacher-bottom-block {
    width: 250px;
    height: 215px;
    margin-top: -180px !important; }
    .teacher-bottom-block .container {
      padding: 0; }

  .activity-traveling-text-style {
    font-size: 24px !important;
    text-align: center; }

  .hobby-teaching-text-style {
    font-size: 23px !important;
    text-align: center; }

  .photo_team h4 {
    margin-left: 0;
    font-size: 9px; }

  .block_information {
    margin-left: 35px; }
    .block_information .second_row {
      margin-top: -10px; }
    .block_information .icon_block_information p {
      font-size: 30px; }
    .block_information .icon_block_information svg {
      width: 40px; }
    .block_information .second_icon_block_information svg {
      width: 25px; }
    .block_information .third_icon_block_information svg {
      width: 38px;
      margin-top: -5px; }
    .block_information .icon_block_information h3 {
      font-size: 14px; }

  .portfolio-web img {
    width: 235px; }

  .button_right_portfolio {
    width: 125px; }

  .button_portfolio {
    font-size: 12px; }

  .button_left_portfolio {
    width: 100px; }

  .left_circle {
    margin-right: 185px; } }
@media (min-width: 450px) and (max-width: 768px) {
  .photo_team h2 {
    font-size: 17px;
    margin-left: 10px; }

  .photo_team h4 {
    font-size: 13px;
    margin-left: 5px; }

  .section_banner {
    display: flex; }

  .top-text-style {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }

  .portfolio-section {
    padding-left: 25px; } }
@media (min-width: 450px) and (max-width: 600px) {
  .block_information .icon_block_information p {
    font-size: 38px; }
  .block_information .icon_block_information svg {
    width: 47px; }
  .block_information .second_icon_block_information svg {
    width: 40px; }
  .block_information .second_row {
    margin-left: 40px;
    margin-top: -20px; }

  .photo_team embed {
    margin-bottom: -14px; }

  .text_col-xs {
    width: 59%; }

  .left_circle {
    margin-right: 270px; }

  .yellow_circle {
    margin-top: -190px; }

  .portfolio-web img {
    width: 350px; } }
@media (min-width: 600px) and (max-width: 767px) {
  .icons_block_tab {
    margin-top: -70px; }

  div.ex3 {
    width: 330px !important; }

  .activity-traveling-text-style {
    margin-left: 110px; }

  .hobby-teaching-text-style {
    margin-left: 95px; } }
@media (min-width: 600px) and (max-width: 768px) {
  .block_information .first_row {
    margin-left: 0; }

  #icons_block .container embed {
    width: 158px; }

  #icons_block .icons_second_row {
    margin-top: 5px; }

  .feedback-sec .row {
    display: flex;
    flex-direction: row; }

  .feedback-underline-text-2 {
    width: 170px !important; }

  .teacher-block img {
    width: 520px; }

  .cir {
    margin-top: -30px;
    margin-left: 0; }

  .teacher-bottom-block {
    width: 450px;
    height: 300px; }

  .portfolio-web img {
    width: 500px; }

  .left_circle {
    margin-right: 450px; }

  .yellow_circle {
    margin-top: -250px; }

  #icons_block .container {
    padding: 0 165px 0 125px; } }
@media (min-width: 1500px) {
  .block_information .first_row, .block_information .second_row {
    justify-content: center; } }
@media (max-width: 768px) and (orientation: landscape) {
  #icons_block .container {
    width: 100%;
    padding: 0 85px; }
    #icons_block .container .icons_second_row {
      margin-top: 0; }
    #icons_block .container embed {
      width: 130px; }

  #icons_block {
    height: 800px; }

  #menu_left {
    padding-top: 10px; }
    #menu_left ul li {
      font-size: 15px;
      padding: 4px 0; }

  #menu {
    padding-top: 80px; }
    #menu li {
      padding: 5px 0; }

  .logo_bee {
    padding: 0 !important; }

  .section_banner {
    display: flex; }

  .button_portfolio {
    margin-top: 150px; }

  .yellow_circle {
    margin-top: -90px; } }
@media (max-width: 768px) {
  #icons_block {
    overflow: hidden; }
    #icons_block .row {
      bottom: 0 !important;
      text-align: center; }
      #icons_block .row embed {
        margin-bottom: 0; }

  #menu_left {
    width: 45px;
    height: 100%; }

  .menu_right {
    height: 100%; }
    .menu_right #menuToggle {
      top: 30px; }

  .photo_team {
    padding: 75px 15px 0 35px; }

  #menu_left .logo_bee {
    padding-bottom: 0; }

  #icons_block .container {
    width: 100%; }
    #icons_block .container .row embed:hover {
      transform: none; }

  .top-text-style {
    font-size: 40px;
    margin-top: 20px; }

  .button1 {
    margin-top: 50px; }

  .top-girl-photo img {
    width: 250px; }

  .top-girl-photo {
    margin-top: 0px; }

  .about-photo-in-block embed {
    width: 65%; }

  .feedback-bottom-text-style2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 11px;
    color: white; }

  .feedback-top-text-style-2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 22px;
    color: white;
    margin-bottom: 3px;
    margin-top: 30px; }

  .feedback-underline-text-2 {
    width: 220px;
    height: 4px;
    background-color: #ffd000;
    border-radius: 10px;
    margin-bottom: 30px; }

  .marg25 {
    margin-right: 0px;
    margin-left: 0px; }

  .feedback-top-text-style {
    font-family: "Fjalla One", sans-serif;
    font-size: 21px;
    color: white;
    margin-bottom: 3px;
    margin-top: 25px; }

  .feedback-underline-text-3 {
    width: 220px;
    height: 4px;
    background-color: #ffd000;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-transition: 0.1s;
    transition: 0.1s; }

  .feedback-underline-text-1 {
    width: 115px;
    height: 4px;
    background-color: #ffd000;
    border-radius: 10px;
    margin-bottom: 30px; }

  .blocks-about {
    background-color: #111111;
    width: 250px;
    height: 250px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }

  .about-photo-in-block {
    width: 200px;
    height: 200px;
    opacity: 1;
    margin-top: 35px;
    display: grid;
    justify-items: center; }

  .text-style-in-about-block {
    font-size: 30px;
    font-family: "Fjalla One", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px; }

  .centom {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

  .feedback-sec#section_vidhuku.container.row {
    margin-right: 25px;
    margin-left: 25px; }

  .feedback-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 33px;
    margin-right: 40px; }

  #hobby_activity {
    margin-left: 0; }

  .cir {
    height: 60px;
    width: 60px;
    background-color: #ffd000;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px #ffd000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s; }
    .cir embed {
      width: 25px !important; }

  div.ex3 {
    height: 85px;
    overflow: auto;
    display: flex;
    justify-content: center; }

  .mouse-svg {
    display: grid;
    justify-content: center;
    margin-top: 15px; }

  .teacher-bottom-block {
    background-color: white;
    border-radius: 35px;
    margin-top: -60px;
    padding: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-end; }

  .activity-traveling-text-style {
    font-family: "Fjalla One", sans-serif;
    font-size: 30px;
    color: #161616;
    margin-top: 17px; }

  .hobby-teaching-bottom-text-style {
    font-family: "Fjalla One", sans-serif;
    font-size: 15px;
    color: #161616;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center; }

  .photo-map img {
    margin-left: -400px;
    margin-top: -300px;
    transition: 0.3s; }

  .carousel-indicators {
    bottom: -50px; }

  .hobby-teaching-text-style {
    font-family: "Fjalla One", sans-serif;
    font-size: 27px;
    color: #161616;
    margin-top: 21px; }

  .teacher-bottom-block {
    background-color: white;
    border-radius: 35px;
    margin-top: -100px;
    padding: 10px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: flex-end; }

  .cent {
    display: flex; }

  .photo-map img {
    display: none; }

  .grid_second .feedback-top-text-style-2 {
    margin-top: 15px; } }
@media (min-width: 1024px) and (max-width: 1112px) {
  #icons_block .row embed {
    margin-bottom: 45px; }

  .block_information .icon_block_information h3 {
    font-size: 18px; }

  .block_information .second_row {
    margin-left: 30px; }

  .photo_team h4 {
    font-size: 17px; }
  .photo_team h2 {
    font-size: 22px; }

  .teacher-bottom-block {
    height: 400px; } }
@media (max-width: 568px) and (orientation: landscape) {
  .feedback-sec .col-xs-4 {
    width: 28%; } }
@media (max-height: 550px) {
  #menu_left {
    display: none; } }

/*# sourceMappingURL=style.css.map */
